body {
  background: black;
  text-align: center;
}

input { display: none; }

#colorDisplay{
  position: fixed;
  border: 1px solid white;
  top: 100px;
  left: 40%;
  width: 150px;
  height: 150px;
  display: inline-block;
}

#colorPicker {
  border-radius: 5px;
  padding: 0;
  height: 35px;
  width: 541px;
  position: auto;
  bottom: 0px;
  margin: 0 auto;
  background: linear-gradient(to right,
    hsla(0, 50%, 50%, 0.5),
    hsla(10, 50%, 50%, 0.5),
    hsla(20, 50%, 50%, 0.5),
    hsla(30, 50%, 50%, 0.5),
    hsla(40, 50%, 50%, 0.5),
    hsla(50, 50%, 50%, 0.5),
    hsla(60, 50%, 50%, 0.5),
    hsla(70, 50%, 50%, 0.5),
    hsla(80, 50%, 50%, 0.5),
    hsla(90, 50%, 50%, 0.5),
    hsla(100, 50%, 50%, 0.5),
    hsla(110, 50%, 50%, 0.5),
    hsla(120, 50%, 50%, 0.5),
    hsla(130, 50%, 50%, 0.5),
    hsla(140, 50%, 50%, 0.5),
    hsla(150, 50%, 50%, 0.5),
    hsla(160, 50%, 50%, 0.5),
    hsla(170, 50%, 50%, 0.5),
    hsla(180, 50%, 50%, 0.5),
    hsla(190, 50%, 50%, 0.5),
    hsla(200, 50%, 50%, 0.5),
    hsla(210, 50%, 50%, 0.5),
    hsla(220, 50%, 50%, 0.5),
    hsla(230, 50%, 50%, 0.5),
    hsla(240, 50%, 50%, 0.5),
    hsla(250, 50%, 50%, 0.5),
    hsla(260, 50%, 50%, 0.5),
    hsla(270, 50%, 50%, 0.5),
    hsla(280, 50%, 50%, 0.5),
    hsla(290, 50%, 50%, 0.5),
    hsla(300, 50%, 50%, 0.5),
    hsla(310, 50%, 50%, 0.5),
    hsla(320, 50%, 50%, 0.5),
    hsla(330, 50%, 50%, 0.5),
    hsla(340, 50%, 50%, 0.5),
    hsla(350, 50%, 50%, 0.5)
    );
}

label {
  display: inline-block;
  height: 35px;
  width: 15px;
  float: left;
}

input:checked + label { border-left: 1px solid white; }

input:nth-child(1):checked ~ #colorDisplay { background: hsla(0, 50%, 50%, 0.5); }
input:nth-child(3):checked ~ #colorDisplay {   background: hsla(10, 50%, 50%, 0.5);}
input:nth-child(5):checked ~ #colorDisplay {  background: hsla(20, 50%, 50%, 0.5);}
input:nth-child(7):checked ~ #colorDisplay {  background: hsla(30, 50%, 50%, 0.5);}
input:nth-child(9):checked ~ #colorDisplay {  background: hsla(40, 50%, 50%, 0.5);}
input:nth-child(11):checked ~ #colorDisplay {  background: hsla(50, 50%, 50%, 0.5);}
input:nth-child(13):checked ~ #colorDisplay {  background: hsla(60, 50%, 50%, 0.5);}
input:nth-child(15):checked ~ #colorDisplay {  background: hsla(70, 50%, 50%, 0.5);}
input:nth-child(17):checked ~ #colorDisplay {  background: hsla(80, 50%, 50%, 0.5);}
input:nth-child(19):checked ~ #colorDisplay {  background: hsla(90, 50%, 50%, 0.5);}
input:nth-child(21):checked ~ #colorDisplay {  background: hsla(100, 50%, 50%, 0.5);}
input:nth-child(23):checked ~ #colorDisplay {  background: hsla(110, 50%, 50%, 0.5);}
input:nth-child(25):checked ~ #colorDisplay {  background: hsla(120, 50%, 50%, 0.5);}
input:nth-child(27):checked ~ #colorDisplay {  background: hsla(130, 50%, 50%, 0.5);}
input:nth-child(29):checked ~ #colorDisplay {  background: hsla(140, 50%, 50%, 0.5);}
input:nth-child(31):checked ~ #colorDisplay {  background: hsla(150, 50%, 50%, 0.5);}
input:nth-child(33):checked ~ #colorDisplay {  background: hsla(160, 50%, 50%, 0.5);}
input:nth-child(35):checked ~ #colorDisplay {  background: hsla(170, 50%, 50%, 0.5);}
input:nth-child(37):checked ~ #colorDisplay {  background: hsla(180, 50%, 50%, 0.5);}
input:nth-child(39):checked ~ #colorDisplay {  background: hsla(190, 50%, 50%, 0.5);}
input:nth-child(41):checked ~ #colorDisplay {  background: hsla(200, 50%, 50%, 0.5);}
input:nth-child(43):checked ~ #colorDisplay {  background: hsla(210, 50%, 50%, 0.5);}
input:nth-child(45):checked ~ #colorDisplay {  background: hsla(220, 50%, 50%, 0.5);}
input:nth-child(47):checked ~ #colorDisplay {  background: hsla(230, 50%, 50%, 0.5);}
input:nth-child(49):checked ~ #colorDisplay {  background: hsla(240, 50%, 50%, 0.5);}
input:nth-child(51):checked ~ #colorDisplay {  background: hsla(250, 50%, 50%, 0.5);}
input:nth-child(53):checked ~ #colorDisplay {  background: hsla(260, 50%, 50%, 0.5);}
input:nth-child(55):checked ~ #colorDisplay {  background: hsla(270, 50%, 50%, 0.5);}
input:nth-child(57):checked ~ #colorDisplay {  background: hsla(280, 50%, 50%, 0.5);}
input:nth-child(59):checked ~ #colorDisplay {  background: hsla(290, 50%, 50%, 0.5);}
input:nth-child(61):checked ~ #colorDisplay {  background: hsla(300, 50%, 50%, 0.5);}
input:nth-child(63):checked ~ #colorDisplay {  background: hsla(310, 50%, 50%, 0.5);}
input:nth-child(65):checked ~ #colorDisplay {  background: hsla(320, 50%, 50%, 0.5);}
input:nth-child(67):checked ~ #colorDisplay {  background: hsla(330, 50%, 50%, 0.5);}
input:nth-child(69):checked ~ #colorDisplay {  background: hsla(340, 50%, 50%, 0.5);}
input:nth-child(71):checked ~ #colorDisplay {  background: hsla(350, 50%, 50%, 0.5);}

label:nth-child(2):hover ~ #colorDisplay {  background: hsla(0, 50%, 50%, 0.5);}
label:nth-child(4):hover ~ #colorDisplay {  background: hsla(10, 50%, 50%, 0.5);}
label:nth-child(6):hover ~ #colorDisplay {  background: hsla(20, 50%, 50%, 0.5);}
label:nth-child(8):hover ~ #colorDisplay {  background: hsla(30, 50%, 50%, 0.5);}
label:nth-child(10):hover ~ #colorDisplay {  background: hsla(40, 50%, 50%, 0.5);}
label:nth-child(12):hover ~ #colorDisplay {  background: hsla(50, 50%, 50%, 0.5);}
label:nth-child(14):hover ~ #colorDisplay {  background: hsla(60, 50%, 50%, 0.5);}
label:nth-child(16):hover ~ #colorDisplay {  background: hsla(70, 50%, 50%, 0.5);}
label:nth-child(18):hover ~ #colorDisplay {  background: hsla(80, 50%, 50%, 0.5);}
label:nth-child(20):hover ~ #colorDisplay {  background: hsla(90, 50%, 50%, 0.5);}
label:nth-child(22):hover ~ #colorDisplay {  background: hsla(100, 50%, 50%, 0.5);}
label:nth-child(24):hover ~ #colorDisplay {  background: hsla(110, 50%, 50%, 0.5);}
label:nth-child(26):hover ~ #colorDisplay {  background: hsla(120, 50%, 50%, 0.5);}
label:nth-child(28):hover ~ #colorDisplay {  background: hsla(130, 50%, 50%, 0.5);}
label:nth-child(30):hover ~ #colorDisplay {  background: hsla(140, 50%, 50%, 0.5);}
label:nth-child(32):hover ~ #colorDisplay {  background: hsla(150, 50%, 50%, 0.5);}
label:nth-child(34):hover ~ #colorDisplay {  background: hsla(160, 50%, 50%, 0.5);}
label:nth-child(36):hover ~ #colorDisplay {  background: hsla(170, 50%, 50%, 0.5);}
label:nth-child(38):hover ~ #colorDisplay {  background: hsla(180, 50%, 50%, 0.5);}
label:nth-child(40):hover ~ #colorDisplay {  background: hsla(190, 50%, 50%, 0.5);}
label:nth-child(42):hover ~ #colorDisplay {  background: hsla(200, 50%, 50%, 0.5);}
label:nth-child(44):hover ~ #colorDisplay {  background: hsla(210, 50%, 50%, 0.5);}
label:nth-child(46):hover ~ #colorDisplay {  background: hsla(220, 50%, 50%, 0.5);}
label:nth-child(48):hover ~ #colorDisplay {  background: hsla(230, 50%, 50%, 0.5);}
label:nth-child(50):hover ~ #colorDisplay {  background: hsla(240, 50%, 50%, 0.5);}
label:nth-child(52):hover ~ #colorDisplay {  background: hsla(250, 50%, 50%, 0.5);}
label:nth-child(54):hover ~ #colorDisplay {  background: hsla(260, 50%, 50%, 0.5);}
label:nth-child(56):hover ~ #colorDisplay {  background: hsla(270, 50%, 50%, 0.5);}
label:nth-child(58):hover ~ #colorDisplay {  background: hsla(280, 50%, 50%, 0.5);}
label:nth-child(60):hover ~ #colorDisplay {  background: hsla(290, 50%, 50%, 0.5);}
label:nth-child(62):hover ~ #colorDisplay {  background: hsla(300, 50%, 50%, 0.5);}
label:nth-child(64):hover ~ #colorDisplay {  background: hsla(310, 50%, 50%, 0.5);}
label:nth-child(66):hover ~ #colorDisplay {  background: hsla(320, 50%, 50%, 0.5);}
label:nth-child(68):hover ~ #colorDisplay {  background: hsla(330, 50%, 50%, 0.5);}
label:nth-child(70):hover ~ #colorDisplay {  background: hsla(340, 50%, 50%, 0.5);}
label:nth-child(72):hover ~ #colorDisplay {  background: hsla(350, 50%, 50%, 0.5);}