<link rel="'stylesheet" href="/static/colorPicker.css">

<div id="colorPicker">
  <input type="radio" name="color" value="color" checked="checked" id="1" />
  <label for="1"></label>
  <input type="radio" name="color" value="color" id="2" />
  <label for="2"></label>
  <input type="radio" name="color" value="color" id="3" />
  <label for="3"></label>
  <input type="radio" name="color" value="color" id="4" />
  <label for="4"></label>
  <input type="radio" name="color" value="color" id="5" />
  <label for="5"></label>
  <input type="radio" name="color" value="color" id="6" />
  <label for="6"></label>
  <input type="radio" name="color" value="color" id="7" />
  <label for="7"></label>
  <input type="radio" name="color" value="color" id="8" />
  <label for="8"></label>
  <input type="radio" name="color" value="color" id="9" />
  <label for="9"></label>
  <input type="radio" name="color" value="color" id="10" />
  <label for="10"></label>
  <input type="radio" name="color" value="color" id="11" />
  <label for="11"></label>
  <input type="radio" name="color" value="color" id="12" />
  <label for="12"></label>
  <input type="radio" name="color" value="color" id="13" />
  <label for="13"></label>
  <input type="radio" name="color" value="color" id="14" />
  <label for="14"></label>
  <input type="radio" name="color" value="color" id="15" />
  <label for="15"></label>
  <input type="radio" name="color" value="color" id="16" />
  <label for="16"></label>
  <input type="radio" name="color" value="color" id="17" />
  <label for="17"></label>
  <input type="radio" name="color" value="color" id="18" />
  <label for="18"></label>
  <input type="radio" name="color" value="color" id="19" />
  <label for="19"></label>
  <input type="radio" name="color" value="color" id="20" />
  <label for="20"></label>
  <input type="radio" name="color" value="color" id="21" />
  <label for="21"></label>
  <input type="radio" name="color" value="color" id="22" />
  <label for="22"></label>
  <input type="radio" name="color" value="color" id="23" />
  <label for="23"></label>
  <input type="radio" name="color" value="color" id="24" />
  <label for="24"></label>
  <input type="radio" name="color" value="color" id="25" />
  <label for="25"></label>
  <input type="radio" name="color" value="color" id="26" />
  <label for="26"></label>
  <input type="radio" name="color" value="color" id="27" />
  <label for="27"></label>
  <input type="radio" name="color" value="color" id="28" />
  <label for="28"></label>
  <input type="radio" name="color" value="color" id="29" />
  <label for="29"></label>
  <input type="radio" name="color" value="color" id="30" />
  <label for="30"></label>
  <input type="radio" name="color" value="color" id="31" />
  <label for="31"></label>
  <input type="radio" name="color" value="color" id="32" />
  <label for="32"></label>
  <input type="radio" name="color" value="color" id="33" />
  <label for="33"></label>
  <input type="radio" name="color" value="color" id="34" />
  <label for="34"></label>
  <input type="radio" name="color" value="color" id="35" />
  <label for="35"></label>
  <input type="radio" name="color" value="color" id="36" />
  <label for="36"></label>
  <div id="colorDisplay"></div>
</div>