{% extends "personalize.html" %}
<head>
{% block title %} Personalize {% endblock title %}
</head>

<body style="background-color:{{ backgroundColor }};
            color:{{ textColor }};
            font-family:{{ font }};
            font-size:20px;
            theme:{{ theme }}">
<style>
    .button {
        background-color: {{ buttonColor }};
    }
</style>

    {% block navbar %}
    {% endblock%}

{% block content %}
    <div id="id02" class="w3-container">
        <button onclick="document.getElementById('id01').style.display='block'"
                class="button w3-button w3-round-xxlarge">Open Color Picker</button>

        <div id="id01" class="w3-modal">
            <div class="w3-model-content w3-animate-left w3-card-4" >
                <header class="w3-container w3-black">
                    <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                    <h2>Color Picker</h2>
                </header>
                <div class="w3-container w3-black">
                <p> {% include 'colorPicker.html' %} </p>

                <p><br><br><br><br><br><br><br><br><br></p>
                </div>
                <footer class="w3-container w3-black">
                    <input id="bgColor" type="button" class="w3-button w3-display-bottom" onclick="">Choose</input>
                    <br><br><br>
                </footer>
            </div>
        </div>
    </div>
    <div class="w3-container">
            <p>To create a user, you must enter the name. </p>
            <p>If you would like to use a theme,
                put none in the field for
                Background Color, Text Color, and Button Color</p>
            <p>If you do not want to use a theme,
                put none in the field for Theme, and fill out the rest
                of the fields with your choices.</p>
                {#  TODO: change that ^          #}
            <p>
                {% from "_formhelpers.html" import render_field %}
        <form action="/personalize/create" method="POST" novalidate>
            <dl>
                {{ render_field(form.name) }}<br><br>
                {{ render_field(form.backgroundColor) }} <br><br>
                {{ render_field(form.textColor) }} <br><br>
                {{ render_field(form.buttonColor) }}<br><br>
                {{ render_field(form.font) }} <br><br>
                {{ render_field(form.theme) }} <br><br>
                {{ render_field(form.submit) }} <br><br>
            </dl>
          <p><input type=submit value=Register></p
    </div>
{% endblock content %}
<br><br><br><br>

</body>
