{# TODO: color picker #}
<!DOCTYPE html>
<html lang="en-US">

<head>
   <!-- <link rel="stylesheet" href="/static/pygments.css">
    <link rel="stylesheet" href="/static/responsive.css">
    <link rel="stylesheet" href="/static/bootstrap.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--<link rel='stylesheet' href='https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyA5-1qAp5owIqrJKNhUJd8hYO99yqKKTCs'>
    <link rel="stylesheet" href="/static/colorPicker.css"> -->

    <title>Personalize</title>
</head>

<body style=background-color: {{ backgroundColor }}
            style=color: {{ textColor }}
            style=button-color: {{ buttonColor }}
            style=font-family: {{ font }}
            style=theme: {{ textColor }}>

<p>
    Hello, {{ name }} <br>
    Your current settings: <br>
    Background Color: {{ backgroundColor }} <br>
    Text Color: {{ textColor }} <br>
    Button Color: {{ buttonColor }} <br>
    Font: {{ font }} <br>
    Theme: {{ theme }} <br>
</p>

<form class="w3-container" method="post">
    <label class="w3-text-teal"><b>First Name</b></label>
    <input class="w3-input w3-border w3-light-grey" id="name" type="text">

    <label class="w3-text-teal"><b>Background Color</b></label>
    <input class="w3-input w3-border w3-light-grey" id="backgroundColor" type="text">

    <label class="w3-text-teal"><b>Text Color</b></label>
    <input class="w3-input w3-border w3-light-grey" id="textColor" type="text">

    <label class="w3-text-teal"><b>Button Color</b></label>
    <input class="w3-input w3-border w3-light-grey" id="buttonColor" type="text">

    <label class="w3-text-teal"><b>Font</b></label>
    <input class="w3-input w3-border w3-light-grey" id="font" type="text">

    <label class="w3-text-teal"><b>Theme</b></label>
    <input class="w3-input w3-border w3-light-grey" id="theme" type="text">

    <br><br>
    <input type="submit">

</form>
</body>
</html>